<div class="widget-content-window no-options" style="height:491px;">
    <div style="width:90%; margin:0 auto; padding-top:20px;">   
        <div class="comment">				
                <div class="balloon">
                        <p><a href="javascript:void(0)">SA</a>: Fee not received.</p>
                        <div class="balloon-bottom"></div>
                </div>
                <div class="author-info" style="margin-top:15px; font-size:10pt; color:#a1a1a1;">
                        <img src="/Styles/images/profile-picture-thumbnail-3.png" alt="profile-picture" />
                        <p>Alison Weinrod, 8/22/2001</p>
                </div>
                <div class="comment-source-link-wrapper"><a href="javascript:void(0)">Go to related application</a></div>
        </div>    
        <div class="comment">				
                <div class="balloon">
                        <p>Sed porta ligula nec mi venenatis condimentum. Maecenas eu velit eget turpis eleifend dignissim.Sed porta ligula nec mi venenatis condimentum. Maecenas eu velit eget turpis eleifend dignissim.</p>
                        <div class="balloon-bottom"></div>
                </div>
                <div class="author-info" style="margin-top:15px; font-size:10pt; color:#a1a1a1;">
                        <img src="/Styles/images/profile-picture-thumbnail-2.png" alt="profile-picture" />
                        <p>Alison Weinrod, 8/22/2001</p>
                </div>
                <div class="comment-source-link-wrapper"><a href="javascript:void(0)">Go to related application</a></div>
        </div>	    
        <div class="comment">				
                <div class="balloon">
                        <p>Sed porta ligula nec mi venenatis condimentum. Maecenas eu velit eget turpis eleifend dignissim.Sed porta ligula nec mi venenatis condimentum. Maecenas eu velit eget turpis eleifend dignissim.</p>
                        <div class="balloon-bottom"></div>
                </div>
                <div class="author-info" style="margin-top:15px; font-size:10pt; color:#a1a1a1;">
                        <img src="/Styles/images/profile-picture-thumbnail.png" alt="profile-picture" />
                        <p>Alison Weinrod, 8/22/2001</p>
                </div>
                <div class="comment-source-link-wrapper"><a href="javascript:void(0)">Go to related application</a></div>
        </div>    
        <div class="comment">				
                <div class="balloon">
                        <p>Sed porta ligula nec mi venenatis condimentum. Maecenas eu velit eget turpis eleifend dignissim.Sed porta ligula nec mi venenatis condimentum. Maecenas eu velit eget turpis eleifend dignissim.</p>
                        <div class="balloon-bottom"></div>
                </div>
                <div class="author-info" style="margin-top:15px; font-size:10pt; color:#a1a1a1;">
                        <img src="/Styles/images/profile-picture-thumbnail-3.png" alt="profile-picture" />
                        <p>Alison Weinrod, 8/22/2001</p>
                </div>
                <div class="comment-source-link-wrapper"><a href="javascript:void(0)">Go to related application</a></div>
        </div>    
        <div style="clear:both"></div>
    </div>
</div> 