<script type="text/javascript">		
var chart;
    $(document).ready(function() {
            chart = new Highcharts.Chart({
                    chart: {
                            renderTo: 'container',
                            defaultSeriesType: 'column',
                            margin: [30, 20, 100, 50]
                    },
                    title: {
                            text: null
                    },
                    credits: {
                            enabled: false
                    },
                    xAxis: {
                            categories: [
                                'Prelim Apprvl',
                                'Prelim Sitewalk',
                                'SA Ordered',
                                'SA Approved',
                                'LE Approved',
                                'SA & LE Approved',
                                'Sent for Execution',
                                'Lease Docs Executed',
                                'NTP issued',
                                'Final Site Apprvl'
                            ],
                            labels: {
                                rotation: -45,
                                align: 'right'
                            }
                    },
                    yAxis: {
                            min: 0,
                            title: {
                                    text: null
                            }
                    },
                    legend: {
                            enabled: false
                    },
                    tooltip: {
                            formatter: function() {
                                    return ''+
                                            this.x +': '+ this.y;
                            }
                    },
                    series: [{
                        name: 'Data',
                        data: [{
                                y: 34.0
                        }, {
                                y: 21.0
                        }, {
                                y: 20.0
                        }, {
                                y: 20.0
                        }, {
                                y: 19.0
                        }, {
                                y: 19.0
                        }, {
                                y: 21.0
                        }, {
                                y: 18.0
                        }, {
                                y: 14.0
                        }, {
                                y: 22.0
                        }]
                        
                }]
        });     
});
</script>

<div class="widget-content-window no-options">
        <div id="container" class="chart-container"></div>
</div>