﻿<%@ Import Namespace="System.Web.Optimization" %>
<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="TrackIT2.master.cs" Inherits="TrackIT2.Templates.TrackIT2" %>
<%@ Register TagPrefix="TrackIT2" TagName="TopNav" Src="~/Controls/TopNav.ascx" %>
<%@ Register TagPrefix="TrackIT2" TagName="PageSectionHeader" Src="~/Controls/PageSectionHeader.ascx" %>
<%@ Register TagPrefix="TrackIT2" TagName="Footer" Src="~/Controls/Footer.ascx" %>
<%@ Register TagPrefix="TrackIT2" TagName="StatusBox" src="~/Controls/StatusBox.ascx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
     <title></title>

     <!-- Icon -->
     <link id="Link1" runat="server" rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
     <link id="Link2" runat="server" rel="icon" href="~/favicon.ico" type="image/ico" />

     <!-- Styles -->
     <%: Styles.Render("~/Styles/trackit")%>

     <!--[if IE]>
     <link rel="stylesheet" type="text/css" href="/Styles/ie.css" media="all" />
     <![endif]-->

     <!-- Scripts -->
     <%: Scripts.Render("~/Scripts/trackit") %>
   
     <script type="text/javascript" >
      $(document).ready(function () {
         // Setup List Create Modal
         setupListImportCreateModal("Import Application");
         setupTMTViewApplicationModal("View Application");
         setupImportApplicationModal("Import Application in TrackiT");
      });
     </script>
          
     <asp:ContentPlaceHolder ID="HeadContent" runat="server"></asp:ContentPlaceHolder>
</head>
<body onload="PageRequestManagerMain();">
    <form id="Form1" runat="server">

    <asp:ScriptManager ID="sm" runat="server" EnablePageMethods="True" />

        <!-- Page Wrapper -->
        <div class="page-wrapper">

            <TrackIT2:TopNav ID="topNav" runat="server" />

            <TrackIT2:PageSectionHeader ID="pageSectionHeader" runat="server" />

            <!-- Content -->
            <div class="page-body">
                <div class="wrapper">
                    <asp:ContentPlaceHolder ID="MainContent" runat="server" />
                </div>
            </div>
            <!-- /Content -->
            <div id="modalMasterExternal" ></div>
            <div id="modalMasterTMTExternal" ></div>
            <div id="modalImportExternal" ></div>
        </div>
        <!-- /Page Wrapper -->

        <TrackIT2:Footer ID="footer" runat="server" />
        <TrackIT2:StatusBox ID="statusBox" runat="server" />

        <!-- Timeout Warning -->
        <div id="TimeoutPanel" title="Timeout Warning" style="display: none;">
            <p style="font-size:9pt;">
                Your session will expire in <asp:Label ID="lblTimeoutCount" runat="server" Text="[X]"></asp:Label> minutes due to inactivity.
                <br /><br />
                Please click the button below if you are still using the application.
           </p>
           <br />
           <br />
           <p style="text-align: center;">
              <asp:Button ID="btnPreserveSession" runat="server" CausesValidation="false" Text="Preserve Session" OnClientClick="PreserveSession()" />
           </p>        
        </div>
        <!-- /Timeout Warning -->
    </form>  
   
   <script type="text/javascript" >
      $(document).ready(function () {
         // Setup List Create Modal
         setupListImportCreateModal("Import Application");
         setupTMTViewApplicationModal("View Application");
         setupImportApplicationModal("Import Application in TrackiT");
      });
     </script>
</body>
</html>
