.widget-table tbody tr input
{
    padding: 5px;
}

.ui-icon
{
    cursor: default;
}
.widgetheader
{
    cursor: move;
}

#layout-dialog .selected
{
    background: no-repeat scroll 0px -51px transparent;
}

#layout-dialog .layoutchoice
{
    width: 82px;
    height: 51px;
    float: left;
    list-style-type: none;
    margin: 5px;
    padding: 0;
}
.selectedcolumn
{
    border: 0px dashed #aaaaaa;
}
.emptycolumn
{
    font-size: 20px;
    font-weight: bold;
    color: #aaaaaa;
    padding: 5px 5px 5px 5px;
}

.dashboard
{
    margin-top: 5px;
}
.right
{
    float: right;
}
.widgetheader
{
    padding: 2px 2px 5px 5px;
}
.ui-icon
{
    float: left;
}
.widgetcontent
{
    padding: 2px 2px 5px 5px;
}
.widget
{
    margin-bottom: 10px;
}
.column
{
    float: left;
    margin: 0 1% -1.5em;
    padding: 0;
    width: 47.5%;
}

.layout-a .column
{
    width: 100%;
}
.layout-a .column.second, .layout-a .column.third
{
    display: none;
}
.layout-aa .column
{
    width: 47.5%;
}
.layout-aa .third
{
    display: none;
}
.layout-ba .column
{
    width: 68%;
}
.layout-ba .first
{
    width: 27%;
}
.layout-ba .third
{
    display: none;
}
.layout-ab .column
{
    width: 27%;
}
.layout-ab .first
{
    width: 68%;
}
.layout-ab .third
{
    display: none;
}
.layout-aaa .column
{
    width: 30.9%;
}

.headerlink
{
    color: #ffffff;
}
.h1-header
{
    height:20px;
    text-align:left;
    float:left;
}

.headerlinks
{
    padding:8px 0 0 0;
    width:400px;
    float:right;
    text-align: right;
    font-size: 9pt;
    margin-right: 0;
    text-decoration: none;
}
.headerlinks a
{
    display:inline-block;
    padding:2px 4px 2px 4px;
    margin-left: 10px;
    color: #008DA8;
    font-size: 10pt;
}

.headerlinks a:hover
{
    color:#fff;
    background: #008DA8;
    display:inline-block;
}

.headerbox
{
    height: 150px;
}

.ui-widget-overlay
{
    opacity: 0.5;
}

.loading
{
    padding: 50px;
    text-align: center;
    background-image: url(loading.gif);
}

#layout-dialog ul
{
    margin: 0;
    padding: 0;
}

#layout-dialog ul li a, #layout-dialog ul li a:link, #layout-dialog ul li a:visited
{
    border: 1px solid #BBBBBB;
    display: block;
    float: left;
    margin: 0 1em 1em 0;
    outline: medium none;
    padding: 0.35em;
    width: auto;
}

.hidden
{
    display: none;
}

.controls
{
    border: 1px solid #BBBBBB;
    float: none;
    margin: 0;
    padding: 4px 0;
}

.controls
{
    width: 100px;
    background: none repeat scroll 0 0 #dddddd;
    border: 1px solid #6A8EB3;
    color: #000000;
    margin-top: -1px;
    padding: 4px 0;
    position: absolute;
    right: 0;
    z-index: 2003;
}

.controls li
{
    float: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 0 0 3px 0.2em;
    width: auto;
    position: static;
}

.controls li a
{
    color: #000000;
    font-weight: normal;
    float: none;
    margin: 0;
    text-decoration: none;
    width: auto;
    padding-left: 5px;
}

.hiddenmenu
{
    position: relative;
}

.dialog .categories
{
    list-style: none outside none;
    height: 414px;
}

.dialog .categories li.selected button
{
    color: #FFFFFF;
    font-weight: 800;
}
.dialog .categories li button
{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #666666;
    font-family: "segoe ui" ,helvetica,arial,sans-serif;
    font-size: 0.8em;
    padding: 0.4em 1.2em;
    text-align: left;
    width: 100%;
}
ul.categories button
{
    cursor: pointer;
}

.widgetitem
{
    border: 2px none white;
    float: left;
    font-size: 0.77em;
    height: 142px;
    margin: 0;
    overflow: hidden;
    padding: 0 20px 0 142px;
    width: 152px;
}

ol.widgets
{
    float: left;
    list-style: none outside none;
    margin: -10px;
    padding: 0;
    width: auto;
}

.dialog .panel-body
{
    overflow: auto;
    padding: 10px;
}

.dialog .categories
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-right: 1px solid #F0F0F0;
    float: left;
    height: 100%;
    list-style: none outside none;
    margin: 0 1.17em 0 0;
    padding: 10px 0 0;
    width: 25%;
}

.dialog .categories li.selected
{
    background: none repeat scroll 0 0 #EC008C;
    color: #FFFFFF;
}

.widgetitem .add-button
{
    float: left;
    margin: 81px 0 0 -131px;
    width: auto;
}

.widgetitem h3
{
    margin: 11px 0 0;
    padding: 0;
}

.widgetitem img
{
    border: 1px solid #999999;
    float: left;
    margin: 10px 0 0 -132px;
}

.ui-sortable-placeholder
{
    background: #e1e1e1;
    border: 1px dashed #a1a1a1;
    visibility: visible !important;
}

.widgetheader
{
    background: #EC008C;
    padding: 5px 2px 5px 10px;
    font-weight: normal;
    border: 1px solid #EC008C !important;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #ffffff;
}
.widgetcontent
{
    border: 1px solid #c1c1c1;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0;
}

.dashboard
{
    margin-top: 10px !important;
}

.dashboard ul
{
    list-style-position: inside;
}

.dashboard .column
{
    margin: 0;
    min-height: 800px;
}

.layout-a .column
{
    float: none;
    padding: 0;
    margin: 0;
}

.layout-aa .first
{
    margin-right: 1% !important;
}

.layout-aa .column
{
    width: 49.5%;
}

.layout-ba .first
{
    width: 30%;
    margin-right: 1%;
}
.layout-ba .second
{
    width: 69%;
}

.layout-ab .first
{
    width: 69%;
    margin-right: 1%;
}
.layout-ab .second
{
    width: 30%;
}

.layout-aaa .first, .layout-aaa .second, .layout-aaa .third
{
    width: 33%;
}
.layout-aaa .first, .layout-aaa .second
{
    margin-right: .5%;
}

.links-table
{
    width: 100%;
}
.links-table td
{
    padding: 8px 10px;
    color: #666666;
}
.links-table tr
{
    border-bottom: 1px solid #e8e8e8;
}
.links-table td:first-child
{
    font-weight: bold;
}
.links-table tr:last-child
{
    border: 0;
}

.widget-table
{
    width: 100%;
}
.widget-table thead
{
    border-bottom: 2px solid #e8e8e8;
    color: #EC008C;
}
.widget-table td, #MainContent_gvLinks th
{
    /* Remove the pixel off under the even-row in Dashboard page. */
    /*border-bottom: 2px solid #e8e8e8;*/
    padding: 8px 10px;
}
.widget-table tr:last-child td
{
    border-bottom: 0px;
}

.widget-table thead tr:first-child
{
    background-color: #fff;
}

table.widget-table tbody tr:nth-child(odd), #MainContent_gvLinks tbody tr:nth-child(even)
{
    background-color: #e8e8e8;
}

/* A Class for the odd-row, because the css nth-child doesn't work on IE8- */

tr.odd-row
{
    background-color: #e8e8e8;
}

/* --- */

/* A Class for th in SavedLink page */

table tbody tr th, table tbody tr td
{
    font-size: 9pt;
    font-weight: normal;
}

#MainContent_gvLinks tbody tr td
{
    /*text-align: center;*/
}

#MainContent_gvLinks
{
    /*width: auto;*/
    margin: 0 auto;
}

#MainContent_gvLinks tbody td a:hover
{
    text-decoration: underline;    
}

.edit-widget-iframe
{
    height: 193px;
}

#MainContent_gvLinks tbody tr:nth-child(even)
{
    background-color: #e8e8e8;
}

#MainContent_gvLinks tbody tr:nth-child(odd)
{
    background-color: #fff;
}

/* --- */

.widgetcontent
{
    position: relative;
    min-height: 150px;
    overflow: hidden;
}
.widget-content-wrapper
{
    padding: 8px 10px;
    position: relative;
}

.remove-entry-button
{
    background: url('/Styles/images/ui-icons_cd0a0a_256x240.png') no-repeat -34px -194px;
    display: block;
    width: 12px;
    height: 12px;
    text-indent: -9999px;
    position: absolute;
    right: 10px;
    top: 2px;
    display: none;
}

.widget-options
{
    position: absolute;
    background: #f5f5f5;
    z-index: 5;
    width: 100%;
    height: 85%;
    border-bottom: 1px solid #e0e0e0;
    overflow-x: hidden;
    overflow-y: auto;
}
.widget-options-wrapper
{
    padding: 5%;
}
.widget-options p
{
    color: #9b9b9b;
}
.widget-options select
{
    margin: 15px 0;
    width: 250px;
    height: 22px;
}
.widget-options .fancy-button
{
    margin: 10px 0;
}

.no-options
{
    min-height: 225px;
}

.widget-content-window
{
    overflow-y: auto;
    overflow-x: hidden;
    height: 192px;
}

.widget-footer
{
    padding: 8px 10px;
    border-top: 1px solid #e8e8e8;
    color: #9b9b9b;
    font-size: 8pt;
    min-height: 16px !important;
    max-height: 16px !important;
    text-align: right;
}
.widget-footer a
{
    margin-left: 15px;
}

.widget-footer-nav-container
{
    width:auto;
    float:left;
}

.widget-footer-nav-container a.widget-nav-link-disabled
{
    background: #e0e0e0 !important;
    cursor:default !important;
}

.widget-footer-nav-container a
{
    background: #999;
    color: #ffffff;
    padding:0 4px 2px 4px !important;
    margin-left: 0px;
    margin-right: 5px;
    font-size:120%;
}

.widget-nav-links-page-count
{
    display:inline-block;
    padding: 0 8px 0 2px;
}

.center
{
    margin: 0px;
    text-align: center;
}

.links-list li
{
    border-bottom: 1px solid #e8e8e8;
    color: #a1a1a1;
    list-style: none;
}
.links-list li:last-child
{
    border: 0;
    margin: 0;
}
.links-list li a
{
    font-weight: normal;
}

.links-list-item
{
    display: block;
    background: #ffffff;
    width: 100%;
    height: 100%;
    color: #666666;
    font-weight: normal;
}
.links-list-item:hover
{
    background: #e8e8e8;
}

.link-title
{
    padding: 10px 10px 0 10px;
    font-weight: bold;
    display: block;
    color: #008DA8;
}
.link-description
{
    padding: 0 10px 10px 10px;
    display: block;
}

.links-list-item-options
{
    display: inline;
    font-size: 8pt;
}

.links-list-add-new-button
{
    padding: 10px;
    display: block;
}

.edit-links-list
{
    list-style: none;
}
.edit-links-list li
{
    border-bottom: 1px solid #b1b1b1;
    overflow: hidden;
    position: relative;
    list-style: none;
}

.edit-links-list-item
{
    padding-right: 50px;
}
.edit-links-list-options
{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 8pt;
    text-align: right;
}

.sub-options
{
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}
.sub-options table
{
    margin: 25px auto 0 auto;
    width: 80%;
}
.sub-options input[type="text"]
{
    margin-bottom: 10px;
}
.sub-options textarea
{
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
}
.sub-options label
{
    font-size: 8pt;
    display: block;
    color: #9b9b9b;
}
.sub-options a
{
    margin: 0 10px 0 0;
}

.options-links
{
    display: inline;
}

.widget-options-bar
{
    display: none;
}

.chart-container
{
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/* CHANGE OLD CSS FILE */

a
{
    text-decoration: none;
}

.widget-footer a
{
    display:inline-block;
    padding:2px 4px 2px 4px;
}

.widget-footer a:hover
{
    background: #008DA8;
    color: #ffffff;
}

.off
{
    display: none;
}

.fluid-width
{
    width: 90%;
    margin: 0 auto;
}

.clearfix:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.author-info
{
    overflow: auto;
}

.comment, .new-comment
{
    position: relative;
}

.comment-source-link-wrapper
{
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 70px;
    font-size: 8pt;
    text-align: right;
    display: none;
}

/* Alert message in chart when no data */
.no-chart
{
    margin: 80px 30px 0;
    font-size: 9pt;
    padding: 15px;
    background-color: #EEE;
    border: 1px solid #DDD;
    text-align: center;
}
/* /Alert */

/* Error */
.dashboard-inline-error 
{
    color: #D8000C !important;
    background-color: #FFBABA;
    display:inline-block;
    padding:4px 8px 4px 8px;
    margin-left:4px;
}
/* /Error */

/* Style for SavedLinks Edit form */

div.savedlinks_form
{
    width: 350px;
    padding: 10px 5px;
}

div.savedlinks_form span
{
    display: inline-block;
    font-size: 9pt;
    margin-bottom: 10px;
    margin-right: 5px;
    text-align: left;
    width: auto;
}

span.savedlink_head
{
    font-weight: bold;
    
}
div.savedlinks_form input[type='text']
{    
    border: 1px solid #E1E1E1;
    padding: 4px;
    width: 125px;    
}

div.savedlinks_edit_action 
{
    text-align: right;
    cursor: pointer;
}

div.savedlinks_edit_action a
{
    font-size: 9pt;
    text-decoration: none;
}

div.savedlinks_edit_action a:hover
{
    text-decoration: underline;
}

/* Error messages validation */

.errorMessage
{
    font-style: italic;
    color: Red;
}

.GridViewEditRow .errorMessage
{
    color: White;
}

div.savedlinks_form .errorMessage
{
    margin-left: 50px;
}

#MainContent_SavedLink_EditTitleRequired
{
    margin-left: 80px;
}

