﻿/**********************************
*   Datagrid - Flexigrid Theme
**********************************/

.tmobile
{
    position:relative;
    overflow:visible;
    z-index:0;
}

.tmobile .flexigrid
{
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
position: relative;
border: 0px solid #eee;
overflow: visible;
color: #000;
z-index:0;
}

.tmobile .flexigrid.hideBody
	{
	height: 26px !important;
	border-bottom: 1px solid #ccc;
	}

.ie6fullwidthbug
	{
	border-right: 0px solid #ccc;
	padding-right: 2px;	
	}

.tmobile .flexigrid div.nDiv
	{
	background: #eee url(/Styles/images/line.gif) repeat-y -1px top;
	border: 1px solid #ccc;
	border-top: 0px;
	overflow: auto;
	left: 0px;
	position: absolute;
	z-index: 70;
	float: left;
	}

.tmobile .flexigrid div.nDiv table
{
margin: 2px;
}

.tmobile .flexigrid div.hDivBox
	{
	float: left; 
	padding-right: 40px;
	}

.tmobile .flexigrid div.bDiv table
	{
	    position:relative;
	    margin-bottom: 10px;
	}
	
.tmobile .flexigrid div.bDiv table.autoht
	{
	border-bottom: 0px;
	margin-bottom: 0px;
	}
	
.tmobile .flexigrid div.nDiv td
	{
	padding: 2px 3px;
	border: 1px solid #eee;
	cursor: default;
	}

.tmobile .flexigrid div.nDiv tr:hover td, 
.tmobile .flexigrid div.nDiv tr.ndcolover td
	{
	background: #d5effc url(/Styles/images/hl.png) repeat-x top;
	border: 1px solid #a8d8eb;
	}
	
.tmobile .flexigrid div.nDiv td.ndcol1
	{
	border-right: 1px solid #ccc;
	}
	
.tmobile .flexigrid div.nDiv td.ndcol2
	{
	border-left: 1px solid #fff;
	padding-right: 10px;
	}

.tmobile .flexigrid div.nDiv tr:hover td.ndcol1, 
.tmobile .flexigrid div.nDiv tr.ndcolover td.ndcol1
	{
	border-right: 1px solid #d2e3ec;
	}
	
.tmobile .flexigrid div.nDiv tr:hover td.ndcol2, 
.tmobile .flexigrid div.nDiv tr.ndcolover td.ndcol2
	{
	border-left: 1px solid #eef8ff;
	}
	
.tmobile .flexigrid div.nBtn
	{
	position: absolute;
	height: 24px;
	width: 14px;
	z-index: 80;
	background: #fafafa url(/Styles/images/fhbg.gif) repeat-x bottom;
	border: 0px solid #ccc;
	border-left: 1px solid #ccc;
	top: 0px;
	left: 0px;
	margin-top: 1px;
	cursor: pointer;
	display: none;
	}
		
.tmobile .flexigrid div.nBtn div
	{
	height: 24px;
	width: 12px;
	border-left: 1px solid #fff;
	float: left;
	background: url(/Styles/images/ddn.png) no-repeat center;
	}		

.tmobile .flexigrid div.nBtn.srtd
	{
	background: url(/Styles/images/wbg.gif) repeat-x 0px -1px;
	}
		

.tmobile .flexigrid div.mDiv
{
background: url(/Styles/images/wbg.gif) repeat-x top;
border: 1px solid #ccc;
border-bottom: 0px;
border-top: 0px;
font-weight: bold;
display: block;
overflow: hidden;
white-space: nowrap;
position: relative;
}

.tmobile .flexigrid div.mDiv div
	{
	padding: 6px;
	white-space: nowrap;
	}
	
		.tmobile .flexigrid div.mDiv div.ptogtitle
			{
			position: absolute;
			top: 4px;
			right: 3px;
			padding: 0px;
			height: 16px;
			width: 16px;
			overflow: hidden;
			border: 1px solid #ccc;
			cursor: pointer;
			}

			.tmobile .flexigrid div.mDiv div.ptogtitle:hover
			{
			background-position: left -2px;
			border-color: #bbb;
			}
			
			.tmobile .flexigrid div.mDiv div.ptogtitle span
			{
			display: block;
			border-left: 1px solid #eee;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #ddd;
			width: 14px;
			height: 14px;
			background: url(/Styles/images/uup.png) no-repeat center;
			}
			
			.tmobile .flexigrid div.mDiv div.ptogtitle.vsble span
			{
			background: url(/Styles/images/ddn.png) no-repeat center;			
			}			

.tmobile .flexigrid div.tDiv /*toolbar*/
	{
	background: #fafafa url(/Styles/images/bg.gif) repeat-x top;
	position: relative;			
	border: 1px solid #ccc;
	border-bottom: 0px;
	overflow: hidden;
	}

	.tmobile .flexigrid div.tDiv2
		{
		float: left;
		clear: both;
		padding: 1px;
		}

.tmobile .flexigrid div.sDiv /*toolbar*/
	{
	background: #fafafa url(/Styles/images/bg.gif) repeat-x top;
	position: relative;
	border: 1px solid #ccc;
	border-top: 0px;
	overflow: hidden;
	display: none;
	}

	.tmobile .flexigrid div.sDiv2
		{
		float: left;
		clear: both;
		padding: 5px;
		padding-left: 5px;
		width: 1024px;
		}

		.tmobile .flexigrid div.sDiv2 input, .tmobile .flexigrid div.sDiv2 select
		{
		vertical-align: middle;
		}
			
	.tmobile .flexigrid div.btnseparator
		{
		float: left;
		height: 22px;
		border-left: 1px solid #ccc;
		border-right: 1px solid #fff;
		margin: 1px;
		}
	
	.tmobile .flexigrid div.fbutton
		{
			float: left;
			display: block;
			cursor: pointer;
			padding: 1px;
		}

	.tmobile .flexigrid div.fbutton div
		{
			float: left;
			padding: 1px 3px;
		}		
		
	.tmobile .flexigrid div.fbutton span
		{
		float: left;
		display: block;
		padding: 3px;
		}

	.tmobile .flexigrid div.fbutton:hover, .tmobile .flexigrid div.fbutton.fbOver
		{
			padding: 0px;
			border: 1px solid #ccc;
		}

	.tmobile .flexigrid div.fbutton:hover div, .tmobile .flexigrid div.fbutton.fbOver div
		{
			padding: 0px 2px;
			border-left: 1px solid #fff;
			border-top: 1px solid #fff;
			border-right: 1px solid #eee;
			border-bottom: 1px solid #eee;
		}		
		
	
/* end toolbar*/

.tmobile .flexigrid div.hDiv
	{
	background: #fafafa url(/Styles/images/fhbg.gif) repeat-x bottom;
	position: relative;
	border: 1px solid #ccc;
	border-bottom: 0px;
	overflow: hidden;
	}	

.tmobile .flexigrid div.hDiv table
	{
	border-right: 1px solid #fff;
	}

	.tmobile .flexigrid div.cDrag
		{
		float: left;
		position: absolute;
		z-index: 2;
		overflow: visible;
		}

		.tmobile .flexigrid div.cDrag div
			{
			float: left;
			background: none;
			display: block;
			position: absolute;
			height: 24px;
			width: 5px;
			cursor: w-resize;
			}
			
		.tmobile .flexigrid div.cDrag div:hover, .tmobile .flexigrid div.cDrag div.dragging
			{
			background: url(/Styles/images/line.gif) repeat-y 2px center;
			}

.tmobile .flexigrid div.iDiv
	{
		border: 1px solid #316ac5;
		position: absolute;
		overflow: visible;
		background: none;
	}
	
	.tmobile .flexigrid div.iDiv input, .tmobile .flexigrid div.iDiv select, .tmobile .flexigrid div.iDiv textarea
		{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		}
		
	.tmobile .flexigrid div.iDiv input.tb
		{
		border: 0px;
		padding: 0px;
		width: 100%;
		height: 100%;
		padding: 0px;
		background: none;
		}			
					
.tmobile .flexigrid div.bDiv
	{
	border: 1px solid #ccc;
	border-top: 0px;
	background: #fff;
	overflow: visible;
	position: relative;
	}
	
.tmobile .flexigrid div.bDiv table
	{
	border-bottom: 1px solid #ccc;
	}
	
	.tmobile .flexigrid div.hGrip
	{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 5px;
	width: 5px;
	background: url(/Styles/images/line.gif) repeat-x center;
	margin-right: 1px;
	cursor: w-resize;
	}
	
		.tmobile .flexigrid div.hGrip:hover, .tmobile .flexigrid div.hGrip.hgOver
			{
				border-right: 1px solid #999;				
				margin-right: 0px;
			}
	
	.tmobile .flexigrid div.vGrip
		{
		height: 5px;
		overflow: hidden;
		position: relative;
		background: #fafafa url(/Styles/images/wbg.gif) repeat-x 0px -1px;
		border: 1px solid #ccc;
		border-top: 0px;
		text-align: center;
		cursor: n-resize;
		}
			
.tmobile .flexigrid div.vGrip span
{
	display: block;
	margin: 1px auto;
	width: 20px;
	height: 1px;
	overflow: hidden;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;	
	background: none;
}

.tmobile .flexigrid div.hDiv th > div
{
    font-weight:bold;
}

.tmobile .flexigrid div.hDiv th, .tmobile .flexigrid  div.bDiv td  /* common cell properties*/
{
	text-align: center;
	border-right: 1px solid #ddd;
	border-left: 1px solid #fff;
	/*overflow: hidden;*/
}

/* common inner cell properties*/
.tmobile .flexigrid div.hDiv th > div, .tmobile .flexigrid  div.bDiv td > div, div.colCopy > div
	{
	padding: 10px 0 8px 0;
	text-align:center;
	border-left: 0px solid #fff;
	}

.tmobile .flexigrid div.hDiv th, div.colCopy
	{
	font-weight: normal;
	height: 24px;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
	}	

div.colCopy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background: #fafafa url(/Styles/images/fhbg.gif) repeat-x bottom;
	border: 1px solid #ccc;
	border-bottom: 0px;
	overflow: hidden;
	}

.tmobile .flexigrid div.hDiv th.sorted
	{
	background: url(/Styles/images/wbg.gif) repeat-x 0px -1px;
	border-bottom: 0px solid #ccc;
	}
	
	.tmobile .flexigrid div.hDiv th.thOver
	{
	}

	.tmobile .flexigrid div.hDiv th.thOver div, .tmobile .flexigrid div.hDiv th.sorted.thOver div
	{
	border-bottom: 1px solid orange;
	padding-bottom: 4px;
	}
	
	.tmobile .flexigrid div.hDiv th.sorted div
	{
	border-bottom: 0px solid #ccc;
	padding-bottom: 5px;
	}

	.tmobile .flexigrid div.hDiv th.thMove
	{
	background: #fff;
	color: #fff;
	}
	
	.tmobile .flexigrid div.hDiv th.sorted.thMove div
		{
		border-bottom: 1px solid #fff;
		padding-bottom: 4px
		}
	
	.tmobile .flexigrid div.hDiv th.thMove div
	{
		background: #fff !important;
	}	
	
	.tmobile .flexigrid div.hDiv th div.sdesc
		{
		background: url(/Styles/images/dn.png) no-repeat center top;
		}	

	.tmobile .flexigrid div.hDiv th div.sasc
		{
		background: url(/Styles/images/up.png) no-repeat center top;
		}	

/* TM: Row Style */
.tmobile .flexigrid div.bDiv td
	{
	border-bottom: 1px solid #fff;
	white-space: nowrap;
	padding: 0px 0 10px 0;
	}

		.tmobile .flexigrid div.hDiv th div
			{
			}
			
			.tmobile .flexigrid span.cdropleft
			{
			display: block;
			background: url(/Styles/images/prev.gif) no-repeat -4px center;
			width: 24px;
			height: 24px;
			position: relative;
			top: -24px;
			margin-bottom: -24px;
			z-index: 3;
			}

			.tmobile .flexigrid div.hDiv span.cdropright
			{
			display: block;
			background: url(/Styles/images/next.gif) no-repeat 12px center;
			width: 24px;
			height: 24px;
			float: right;
			position: relative;
			top: -24px;
			margin-bottom: -24px;
			}


		.tmobile .flexigrid div.bDiv td > div
		{
			position:relative;
	        border-top: 0px solid #fff;
	        padding-bottom: 4px;
		}
	
				
		.tmobile .flexigrid tr td.sorted
				{
				background: #f3f3f3;
				border-right: 1px solid #ddd;
				border-bottom: 1px solid #f3f3f3;
				}		

				.tmobile .flexigrid tr td.sorted div
					{
					}


		.tmobile .flexigrid tr.erow td
				{
				text-align:center !important;
				background: #f7f7f7;
				border-bottom: 1px solid #f7f7f7;
				}
				
		.tmobile .flexigrid tr.erow td.sorted
				{
				background: #e3e3e3;
				border-bottom: 1px solid #e3e3e3;
				}						

				.tmobile .flexigrid tr.erow td.sorted div
					{
					}

		.tmobile .flexigrid div.bDiv tr:hover td, 
		.tmobile .flexigrid div.bDiv tr:hover td.sorted,
		.tmobile .flexigrid div.bDiv tr.trOver td.sorted, 
		.tmobile .flexigrid div.bDiv tr.trOver td
			{
			color:#fff;
			background: #E20074;
			border-left: 1px solid #eef8ff;
			border-bottom: 1px dotted #a8d8eb;
			}		
					
		.tmobile .flexigrid div.bDiv tr.trSelected:hover td, 
		.tmobile .flexigrid div.bDiv tr.trSelected:hover td.sorted,
		.tmobile .flexigrid div.bDiv tr.trOver.trSelected td.sorted, 
		.tmobile .flexigrid div.bDiv tr.trOver.trSelected td,
		.tmobile .flexigrid tr.trSelected td.sorted, 
		.tmobile .flexigrid tr.trSelected td
			{
			/*background: #d5effc url(/Styles/images/hl.png) repeat-x top;
			border-right: 1px solid #d2e3ec;
			border-left: 1px solid #eef8ff;
			border-bottom: 1px solid #a8d8eb;*/
			}
			
		.tmobile .flexigrid tr.trSelected td.sorted a, 
		.tmobile .flexigrid tr.trSelected td a
			{
			/*color: #eee; */
			}			
			
        .tmobile .flexigrid tr:hover td a {
            color: #fff;
        }

	/* novstripe adjustments */

	.tmobile .flexigrid.novstripe .bDiv table
	{
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}

	.tmobile .flexigrid.novstripe  div.bDiv td  
		{
		border-right-color: #fff;
		}
		
	.tmobile .flexigrid.novstripe div.bDiv tr.erow td.sorted
		{
		border-right-color: #e3e3e3;
		}

	.tmobile .flexigrid.novstripe div.bDiv tr td.sorted
		{
		border-right-color: #f3f3f3;
		}

	.tmobile .flexigrid.novstripe  div.bDiv tr.erow td  
		{
		border-right-color: #f7f7f7;
		border-left-color: #f7f7f7;
		}
		
		.tmobile .flexigrid.novstripe div.bDiv tr.trSelected:hover td, 
		.tmobile .flexigrid.novstripe div.bDiv tr.trSelected:hover td.sorted,
		.tmobile .flexigrid.novstripe div.bDiv tr.trOver.trSelected td.sorted, 
		.tmobile .flexigrid.novstripe div.bDiv tr.trOver.trSelected td,
		.tmobile .flexigrid.novstripe tr.trSelected td.sorted, 
		.tmobile .flexigrid.novstripe tr.trSelected td
			{
			    /*
			border-right: 1px solid #0066FF;
			border-left: 1px solid #0066FF; */
			}		

	.tmobile .flexigrid.novstripe div.bDiv tr.trOver td, .tmobile .flexigrid.novstripe div.bDiv tr:hover td
		{
		border-left-color: #d9ebf5;
		border-right-color: #d9ebf5;
		}

	/* end novstripe */

.tmobile .flexigrid div.pDiv
	{
	background: url(/Styles/images/wbg.gif) repeat-x 0 -1px;
	border: 1px solid #ccc;
	border-top: 0px;
	overflow: hidden;
	white-space: nowrap;
	}

.tmobile .flexigrid div.pDiv div.pDiv2
	{
	margin: 3px;
	margin-left: -2px;
	float: left;
	width: 1024px;
	}	
	
	div.pGroup
		{
		float: left;
		background: none;
		height: 24px;
		margin: 0px 5px;
		}
	
	.tmobile .flexigrid div.pDiv .pPageStat, .tmobile .flexigrid div.pDiv .pcontrol
		{
		position: relative;
		top: 5px;
		overflow: visible;
		}
		
	.tmobile .flexigrid div.pDiv input
		{
		vertical-align: text-top;
		position: relative;
		top: -5px;
		width:24px;
		}
	
	.tmobile .flexigrid div.pDiv  div.pButton
		{
		float: left;
		width: 22px;
		height: 22px;
		border: 0px;
		cursor: pointer;
		overflow: hidden;
		}

		.tmobile .flexigrid div.pDiv  div.pButton:hover, .tmobile .flexigrid div.pDiv  div.pButton.pBtnOver
			{
			width: 20px;
			height: 20px;
			border: 1px solid #ccc;
			cursor: pointer;
			}
		
	.tmobile .flexigrid div.pDiv  div.pButton span
		{
		width: 20px;
		height: 20px;
		display: block;
		float: left;
		}		
	
		.tmobile .flexigrid div.pDiv  div.pButton:hover span, .tmobile .flexigrid div.pDiv  div.pButton.pBtnOver span
			{
			width: 19px;
			height: 19px;
			border-top: 1px solid #fff;
			border-left: 1px solid #fff;
			}		
		

		.tmobile .flexigrid .pSearch
			{
			background: url(/Styles/images/magnifier.png) no-repeat center;
			}
	
		.tmobile .flexigrid .pFirst
			{
			background: url(/Styles/images/first.gif) no-repeat center;
			}
			
		.tmobile .flexigrid .pPrev
			{
			background: url(/Styles/images/prev.gif) no-repeat center;
			}

		.tmobile .flexigrid .pNext
			{
			background: url(/Styles/images/next.gif) no-repeat center;
			}

		.tmobile .flexigrid .pLast
			{
			background: url(/Styles/images/last.gif) no-repeat center;
			}
			
		.tmobile .flexigrid .pReload
			{
			background: url(/Styles/images/load.png) no-repeat center;
			}
			
		.tmobile .flexigrid .pReload.loading
			{
			background: url(/Styles/images/load.gif) no-repeat center;
			}															

/* ie adjustments */
			
		.tmobile .flexigrid.ie div.hDiv th div, .tmobile .flexigrid.ie  div.bDiv td  div, div.colCopy.ie div/* common inner cell properties*/
			{
			/*overflow: hidden; */
			}
			
/* Other Grid Styles */
.tmobile .flexigrid img
{
    border:1px;
}

.tmobile .flexigrid .fancy-button
{
    border: 2px solid #E1E1E1;
    background: url("/Styles/images/ui-bg_highlight-hard_75_e6e6e6_1x100.png") repeat-x scroll 50% 50% #E6E6E6;
    padding: 0.4em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #555555 !important;
    font-weight: normal;
    font-size: 11px;
    display: block;
    position: relative;
    margin: 0 auto;
    width: 20px;
}

.tmobile .flexigrid .fancy-button:hover
{
    background: url("/Styles/images/ui-bg_highlight-hard_75_dadada_1x100.png") repeat-x scroll 50% 50% #E6E6E6;
}

.tmobile .flexigrid .workflow-button
{
    text-indent: -9999px;
}

.tmobile .flexigrid .cog-icon
{
    width: 10px;
    height: 10px;
    background: url(/Styles/images/ui-icons_222222_256x240.png) no-repeat -195px -116px;
    position: absolute;
    top: 5px;
    right: 25px;
}

.tmobile .flexigrid .arrow-down
{
    padding-right: 2em;
}

.tmobile .flexigrid .arrow-down-icon
{
    width: 10px;
    height: 10px;
    background: url(/Styles/images/ui-icons_222222_256x240.png) no-repeat -67px -19px;
    position: absolute;
    top: .6em;
    right: 1em;
} 
 
.tmobile .flexigrid .workflow-menu 
{
    color: #333333 !important;
    z-index:80;
    display:none;
    width:auto;
    min-width:135px;
    height:auto;
    padding:10px 8px 5px 8px;
    background:#e1e1e1;
    border:2px solid #a1a1a1;
    border-radius:4px;
    position:absolute;
    top:27px;
    left:-20px;
    white-space:nowrap;
    font-weight: bold;
}

.tmobile .flexigrid .workflow-menu li
{
    list-style:none;
    margin-bottom:5px;
    text-align:left
}

.tmobile .flexigrid tbody tr:hover .workflow-menu a
{
}

.tmobile .flexigrid .workflow-menu a
{
    color: #666666 !important;
    padding:2px 0 2px 0;
    text-decoration:none;
    font-weight: bold;
}

.tmobile .flexigrid .workflow-menu a:hover
{
    padding:2px 4px 2px 4px;
    background-color:#008da8;
    color:#fff !important;
}

.tmobile .flexigrid .workflow-container
{
}

.tmobile .flexigrid .workflow-container .workflow-title
{
    font-weight:bold;
    color:#000;
}


/* DMS */
.tmobile .flexigrid div.bDiv tr:hover td a.dms-folder-link {
    color:#fff;
}

.dms-overflow-control
{
    overflow: hidden; 
    text-overflow: ellipsis;
}

/* /DMS */

/* DMS document revision*/
.tmobile .flexigrid div.bDiv tr.show-rev td.sorted { background: #f8d2e5; }
.tmobile .flexigrid div.bDiv tr.show-rev:hover td.sorted, .tmobile .flexigrid div.bDiv tr.erow.show-rev:hover td { background: #E20074; }
.tmobile .flexigrid div.bDiv tr.show-rev td{ border-top:1px solid #e18eb9; }
.tmobile .flexigrid div.bDiv tr td.lastRow{ border-bottom:1px solid #e18eb9; }
.tmobile .flexigrid div.bDiv tr.revison_data { background: #f7e5ee; }
.tmobile .flexigrid div.bDiv tr.erow.revison_data td { background: none; }
.tmobile .flexigrid div.bDiv tr.rev-expanded { background: #f8d2e5; }
.tmobile .flexigrid div.bDiv tr.erow.rev-expanded td { background: none; border-bottom: 1px solid #F3F3F3; }
/* DMS document revision*/
/*Tower List*/
.fgTower
{
    z-index:100 !important;
}
.tmobile .flexigrid .tower-status-menu 
{
    color: #333333 !important;
    z-index:80;
    display:none;
    width:120px;
    min-width:80px;
    height:auto;
    
    background:#f3f3f3;
    border:1.5px #ddd;
    position:absolute;
    top:30px;
    white-space:nowrap;
    font-weight: bold;
}

.tmobile .flexigrid .tower-status-menu li
{
    list-style: none;
    border: 1px solid #d7d7d7;
    height: 21px;
}

.tmobile .flexigrid tbody tr:hover .tower-status-menu a
{
}

.tmobile .flexigrid .tower-status-menu a
{
    color: #666666 !important;
    padding:2px 0 2px 0;
    text-decoration:none;
    font-weight: bold;
}

.tmobile .flexigrid .tower-status-menu a:hover
{
    padding:2px 4px 2px 4px;
    background-color:#008da8;
    color:#fff !important;
}

.tmobile .flexigrid .tower-status-container
{
    
}

.tmobile .flexigrid .tower-status-container .tower-status-title
{
    font-weight:bold;
    color:#000;
}

.tmobile .flexigrid .tower-status-button
{
    text-indent: -9999px;
}

.tmobile .flexigrid .fancy-button-tower
{
    padding: 0.4em 5px;
    text-decoration: none;
    border-radius: 4px;
    color: #555555;
    font-weight: bold;
    font-size: 11px;
    margin: 0 auto;
    width: 80px;
}

.tmobile .flexigrid .arrow-down-icon-tower
{
    width: 10px;
    height: 10px;
    background: url(/Styles/images/ui-icons_222222_256x240.png) no-repeat -67px -19px;
    position: absolute;
    top: .6em;
    right: 0em;
} 

.tmobile .flexigrid .tower-current-status-icon
{
    vertical-align:-2px;
    padding-left: 8px;
}

.TowerClick
{
    background: #cccccc !important;
}

#modal-init-page
{
    color: #fff;
    text-align: center;
    padding:30px 60px 30px 95px !important;
    font-size:larger;
    font-weight:bold;
    color:#E11075;
    
    background-color: #e8e8e8;
    position: absolute;
    top: 450px;
    left: 50%;
    margin-top: -40px;
    margin-left: -280px;
    display: none;
    
}