﻿/**********************************
*   IE Style Overrides
**********************************/

/* Comments */
.comment .balloon .balloon-bottom, .new-comment .balloon .balloon-bottom
{
    display: none;
}
.balloon-left-side
{
    display: none;
}
/* /Comments */

/* The border bottom of nav bar lost the border */

ul.admin-nav
{
    border-bottom: 1px solid #c3c1bf;
}

.buttonLASubmit {
    margin-top: 10px;
}
/* /Admin nav border */

