﻿/**********************************
*   Lease Applications
*
*   TODO: Refactor and tidy, this
*         is a first pass only (WL).
*
**********************************/

/* Structure */
.i-1, .i-1-3, .i-2-3, .i-1-2
{
    float: left;
}
.full-col
{
    width: 100%;
    padding-top: 20px;
}
/* /Structure */


/* Tabs */
.ui-tabs
{
    padding: 0;
    font-size: 10pt;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-tabs-panel, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
    border: 2px solid #e1e1e1 !important;
}
.ui-tabs .ui-tabs-panel
{
    margin-top: -2px !important;
    padding: 0 !important;
}
.ui-tabs .ui-tabs-nav
{
    font-size: 12pt;
    font-weight: bold !important;
    text-align: center !important;
    padding: 0;
    margin-left: -1px;
}
.ui-tabs .ui-tabs-nav li a
{
    font-size: 10pt;
}
.tabs-title-fix
{
    padding: 15px 18px 16px !important;
    min-height: 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{

    .tabs-title-fix
    {
        padding: 15px 18px 13px !important;
        min-height: 0;
    }

}

    /* Sub Tabs */
    .sub-tabs
    {
        border: 0 !important;
        margin: 0 !important;
    }
    .sub-tabs ul li a
    {
        font-size: 10pt;
    }
    .sub-tabs .ui-tabs-nav
    {
        background: transparent !important;
        border: 0 !important;
        margin: 10px 0 0 20px;
    }
    .sub-tabs > .ui-state-active, .sub-tabs > .ui-widget-content > .ui-state-active, .sub-tabs > .ui-widget-header > .ui-state-active, .sub-tabs > .ui-tabs-panel, .sub-tabs > .ui-state-default, .sub-tabs > .ui-widget-content > .ui-state-default, .sub-tabs > .ui-widget-header > .ui-state-default
    {
        border: 0px solid #e1e1e1 !important;
    }
	/*
    .sub-tabs > .ui-state-default, .sub-tabs > .ui-widget-content > .ui-state-default, .sub-tabs > .ui-widget-header > .ui-state-default
    {
        background: none;
        border-radius: 4px;
    }
	*/
	.sub-tabs > .ui-state-default, .sub-tabs > .ui-widget-content > .ui-state-default, .sub-tabs > .ui-widget-header > .ui-state-default
    {
        border-radius: 4px;
    }
    /*
    .sub-tabs .ui-state-active, .sub-tabs .ui-widget-content .ui-state-active, .sub-tabs .ui-widget-header .ui-state-active
    {
        background: #e6e6e6 url(/Styles/images/ui-bg_highlight-hard_75_e6e6e6_1x100.png) 50% 50% repeat-x;
    }
	*/
	.sub-tabs .ui-state-active, .sub-tabs .ui-widget-content .ui-state-active, .sub-tabs .ui-widget-header .ui-state-active
    {
        background: #e6e6e6 url(/Styles/images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
    }
    .sub-tabs .ui-state-active, .sub-tabs .ui-widget-content .ui-state-active, .sub-tabs .ui-widget-header .ui-state-active, .sub-tabs .ui-tabs-panel, .sub-tabs .ui-state-default, .sub-tabs .ui-widget-content .ui-state-default, .sub-tabs .ui-widget-header .ui-state-default
    {
        border: 0 !important;
    }
    /* /Sub Tabs */
    
/* /Tabs */

/* Application Information */
.application-information
{
    position: relative;
}
.application-information .i-2-3
{
    width: 630px;
}
.information-list
{
    float: left;
    list-style: none;
    min-height: 120px;
    width: 210px;
    margin-right: 0px;
    font-size: 10pt;
}
.information-list li
{
    line-height: 130%;
}
.information-list li:first-child
{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 11pt;
}

.application-information .left-col
{
    margin-right: 20px;
}
.application-information .left-col, .application-information .right-col
{
    width: 459px;
    float: left;
}
.application-information .full-col
{
    width: 950px;
    float: left;
}

.application-information form h4
{
    width: 460px;
}
.application-information form .full-col h4
{
    width: 945px;
}
.application-information form label
{
    width: 150px;
}

.dimensions-field-list
{
    height: 26px;
    display: inline-block;
}
.dimensions-field-list li
{
    list-style: none;
    float: left;
    margin-right: 5px;
    line-height: 26px;
}
.dimensions-field-list input[type=text].short-field
{
    display: inline;
    float: none;
    margin-left: 0px;
    margin-right: 5px;
    width: 40px;
}

input[type=text].short-field
{
    width: 70px;
}
input[type=text].medium-field
{
    width: 120px;
}
input[type=text].long-field
{
    width: 180px;
}
.textarea-field
{
    width: 280px;
    height: 45px;
    display: inline-block;
    margin-bottom: 10px;
}
.field-list
{
    display: inline-block;
}
.field-list input[type=text].medium-field
{
    display: inline;
    float: none;
    margin-left: 0px;
    margin-right: 5px;
}
.field-list li
{
    list-style: none;
    margin-bottom: 7px;
}
.field-list input[type=tyext]
{
    display: inline;
    float: none;
    margin: 0 5px 0;
}

.textarea-label
{
    float: left;
}
/* /Application Information */

/* Map */
.map
{
    width: 310px;
    height: 235px;
    position: relative;
    border: 2px solid #e1e1e1;
}
.map-coordenates
{
    width: 100%;
    height: auto;
    min-height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(/Styles/images/black-75.png);
    color: #ffffff;
}
.map-coordenates ul
{
    min-height: 0;
    margin: 10px;
    list-style: none;
    width: 160px;
    float: left;
    font-size: 10pt;
}
.map-coordenates ul li:first-child
{
    font-weight: normal;
    font-size: 10pt;
}
.map .ui-button
{
    margin: 10px 0;
    float: right;
    margin-right: 15px;
}
/* /Map */

/* Application Process */
.application-process
{
    margin: 20px 20px 0 0;
    width: 710px;
}
.application-process #progressbar
{
    display: inline-block;
    width: 250px;
    margin-left: 20px;
    height: 18px;
}
.application-process .left-col
{
    width: 322px;
    margin-right: 20px;
    float: left;
}
.application-process .right-col
{
    width: 322px;
    margin-right: 0px;
    float: left;
}
.application-process .full-col
{
    width: 100%;
    float: left;
    padding-top: 0;
}

/* Progress Bar */
.ui-progressbar
{
    border: 1px solid #a1a1a1;
}
.ui-progressbar .ui-widget-header
{
    border: 1px solid #a1a1a1;
    background: #EC008C;
}

/* Form */
.application-process .full-col label
{
    width: auto;
    text-align: left;
}
.form_element > h4, form h4
{
    font-size: 11pt;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    padding: 0 0 6px 0;
    float: left;
    display: block;
    border-bottom: 2px solid #e1e1e1;
}
.form_element > label, form label, form .label
{
    display: inline-block;
    margin-right: 5px;
    text-align: right;
    width: 110px;
    margin-bottom: 10px;
    font-size: 9pt;
}

.form_element > input[type=text], form select
{
    display: inline-block;
}
.form_element > input[type=text], form input[type=text]
{
    padding: 4px;
    border: 1px solid #e1e1e1;
    width: 190px;
}
.form_element > select, form select
{
    padding: 1px;
    border: 1px solid #e1e1e1;
    width: 196px;
    height: 24px;
}
.form_element > label, form label, form .label
{
    padding: 4px 0;
}
.form_element > textarea, form textarea
{
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    font-size: 10pt;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
    font-size: 9pt !important;
}

.split, .split-r
{
    width: 85px !important;
}

ol.asmList
{
    width: 100%;
    clear: left;
    font-size: 10pt;
    margin: 5px 0;
}
.asmSelect
{
    width: 100% !important;
}
.asmContainer select
{
    float: none;
}
.asmHighlight
{
    font-size: 8pt;
}
/* /Form */

/* Date Picker */
form input[type=text].datepicker, .form_element > input[type=text].datepicker
{
    background: url(/Styles/images/ui-calendar-calendar-icon.png) no-repeat center right #ffffff;
    font-size: 8pt !important;
    width: 100px;
    cursor: pointer;
}
#ui-datepicker-div
{
    border: 2px solid #D1D1D1;
}
/* /Date Picker */

/* Jquery Cycle Slider */
.slideshow
{
    float: left;
    width: 100% !important;
}
.slideshow > div
{
    width: 99.4%;
}
#nav, #nav2
{
    float: left;
    overflow: auto;
    width: 100%;
}
#nav a, #nav2 a
{
    float: left;
    height: 28px;
    line-height: 28px;
    width: 28px;
    font-size: 10pt;
    border: 1px solid #ccc;
    background: #e1e1e1;
    color: #555;
    padding: 0;
    text-decoration: none;
    text-align: center;
    margin: 5px 10px 10px 0;
}
#nav a.activeSlide, #nav2 a.activeSlide
{
    background: #a1a1a1;
    color: #ffffff;
}

.edit-button
{
    display: block;
    width: auto;
    height: 20px;
    background: #ffffff;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0;
}
/* /Jquery Cycle Slider */


/*SA button right align*/
.sa-comment-div
{
    text-align:right;
    }
.sa-comment-button
{
    margin-left:2px;
    margin-right:2px;
    }
/*/SA button right align*/

/*Equipment Tabs*/

.equip-init-div
{
    width: 322px;
    margin-right: 20px;
    float: left;
}

.equip-mod-div
{
    width: 322px;
    margin-right: 0px;
    float: left;
}

/*/Equipment Tabs*/

