﻿/*
*   A Style implement for any kind of Site page
*/
.site-information
{
    position: relative;
}
.site-information .i-2-3
{
    width: 630px;
}
.information-list
{
    float: left;
    list-style: none;
    min-height: 120px;
    width: 210px;
    margin-right: 0px;
    font-size: 9pt;
}
.information-list li
{
    line-height: 130%;
}
.information-list li:first-child, .info-list-title
{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 10pt;
}

.site-list-information 
{
    margin-top: 20px;
}

.site-list 
{
    position:relative;
}

.edit-button
{
    display: block;
    width: auto;
    height: 20px;
    background: #ffffff;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0;
}

.lbl-v-spaced-top {
    display: inline-block;
    margin-top: 10px;
}

.lbl-v-spaced-bottom {
    display: inline-block;
    margin-bottom: 20px;
}

.construction-img
{
    vertical-align:-28%;
}