﻿/**********************************
*   Style - Global / Base Styles
**********************************/

/* Elements */
*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans-Serif;
}

html, body, form
{
    height: 100%;
}

h1, .h1
{
    color: #ec008c;
    font-size: 18pt;
    font-weight: normal;
    margin-bottom: 10px;
}
h1 {
    padding-right: 30px;
}

.h1-caps
{
    color: #ec008c;
    font-size: 17pt;
    font-weight: normal;
    margin-bottom: 10px;
}

h2
{
    color: #ec008c;
    font-size: 18pt;
    font-weight: normal;
    margin-bottom: 10px;
}

h1 span
{
    font-size: 13pt;
    font-weight: bold;
    color: #000;
}

a
{
    color: #008da8;
}

a:hover
{
    text-decoration: none;
}

hr
{
    color: #999;
    height: 1px;
    border: 0px none;
    border-top: 1px solid #e0e0e0;
    padding: 5px 0 10px 0;
    margin: 0 auto 0 auto;
    width: 95%;
}

.italic
{
    font-style: italic;
}
/* /Elements */


/* TEMP For Development */
.default p
{
    padding-top: 10px;
}

.default ul
{
    margin: 20px 0 20px 40px;
}

.default ul li
{
    padding-top: 5px;
}

.default ul li ul
{
    margin-top: 0;
    margin-bottom: 5px;
}
/* /TEMP For Development */

/* Tabs */
.ui-tabs
{
    padding: 0;
    font-size: 10pt;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-tabs-panel, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
    border: 2px solid #e1e1e1 !important;
}

.ui-tabs .ui-tabs-panel
{
    margin-top: -2px !important;
    padding: 0 !important;
}

.application-process .ui-tabs .ui-tabs-panel
{
    margin-top: 0px !important;
}

.ui-tabs .ui-tabs-nav
{
    font-size: 12pt;
    font-weight: bold !important;
    text-align: center !important;
    padding: 0;
    margin-left: -1px;
}

.ui-tabs .ui-tabs-nav li a
{
    font-size: 10pt;
}
.tabs-title-fix
{
    padding: 15px 18px 16px !important;
    min-height: 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{

    .tabs-title-fix
    {
        padding: 15px 18px 13px !important;
        min-height: 0;
    }

}

/* Sub Tabs */
.sub-tabs
{
    border: 0 !important;
    margin: 0 !important;
}
.sub-tabs ul li a
{
    font-size: 10pt;
}
.sub-tabs .ui-tabs-nav
{
    background: transparent !important;
    border: 0 !important;
    margin: 10px 0 0 20px;
}
.sub-tabs > .ui-state-active, .sub-tabs > .ui-widget-content > .ui-state-active, .sub-tabs > .ui-widget-header > .ui-state-active, .sub-tabs > .ui-tabs-panel, .sub-tabs > .ui-state-default, .sub-tabs > .ui-widget-content > .ui-state-default, .sub-tabs > .ui-widget-header > .ui-state-default
{
    border: 0px solid #e1e1e1 !important;
}
/*
.sub-tabs > .ui-state-default, .sub-tabs > .ui-widget-content > .ui-state-default, .sub-tabs > .ui-widget-header > .ui-state-default
{
    background: none;
    border-radius: 4px;
}
*/
.sub-tabs > .ui-state-default, .sub-tabs > .ui-widget-content > .ui-state-default, .sub-tabs > .ui-widget-header > .ui-state-default
{
    border-radius: 4px;
}
/*
.sub-tabs .ui-state-active, .sub-tabs .ui-widget-content .ui-state-active, .sub-tabs .ui-widget-header .ui-state-active
{
    background: #e6e6e6 url(/Styles/images/ui-bg_highlight-hard_75_e6e6e6_1x100.png) 50% 50% repeat-x;
}
*/
.sub-tabs .ui-state-active, .sub-tabs .ui-widget-content .ui-state-active, .sub-tabs .ui-widget-header .ui-state-active
{
    background: #e6e6e6 url(/Styles/images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
}
.sub-tabs .ui-state-active, .sub-tabs .ui-widget-content .ui-state-active, .sub-tabs .ui-widget-header .ui-state-active, .sub-tabs .ui-tabs-panel, .sub-tabs .ui-state-default, .sub-tabs .ui-widget-content .ui-state-default, .sub-tabs .ui-widget-header .ui-state-default
{
    border: 0 !important;
}

/* Map */
.map
{
    width: 310px;
    height: 235px;
    position: relative;
    border: 2px solid #e1e1e1;
}
.map-coordenates
{
    width: 100%;
    height: auto;
    min-height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(/Styles/images/black-75.png);
    color: #ffffff;
}
.map-coordenates ul
{
    min-height: 0;
    margin: 10px;
    list-style: none;
    width: 160px;
    float: left;
    font-size: 10pt;
}
.map-coordenates ul li:first-child
{
    font-weight: normal;
    font-size: 10pt;
}
.map .ui-button
{
    margin: 10px 0;
    float: right;
    margin-right: 15px;
}

/* Structure */
.i-1, .i-1-3, .i-2-3, .i-1-2
{
    float: left;
}

/* Class */

/* Layout */

/* Login*/
.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:linkz, .loginDisplay a:visited, .loginDisplay a:hover
{
    color: white;
}

/* /Login */

/* General */
.page-wrapper
{
    min-height: 100%;
}
.page-body
{
    overflow: auto;
    padding-bottom: 320px;
}
.section
{
    width: 100%;
}
.content
{
    background: #ffffff;
    padding-bottom: 30px;
}
.wrapper
{
    width: 990px;
    margin: 0 auto;
}
.cb
{
    clear: both;
}
.displayed
{
    display: inherit;
}
.not-displayed
{
    display: none;
}
.visible
{
    visibility: visible;
}
.not-visible
{
    visibility: hidden;
}
/* /General */

/* Top Nav */
.top-nav
{
    background: #515151;
    text-align: right;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    font-size: 75%;
}

.top-nav a
{
    padding:2px 4px 2px 4px;
    text-decoration: none;
    color: #ffffff;
    text-shadow: none;
}

.top-nav a:hover
{
    background: #ffffff;
    color: #333333;
}

.header
{
    margin: 30px 0;
}

.logo
{
    display: block;
    text-indent: -9999px;
    width: 200px;
    height: 60px;
    background: url(/Styles/images/logo.png) no-repeat top left transparent;
    float: left;
}
/* /Top Nav */

/* Footer */
.footer
{
    margin-top: -300px;
    height: 280px;
    padding: 20px 0;
    border-top: 1px solid #c1c1c1;
}
.footer
{
    background: #EEE;
}
.footer-nav
{
    list-style: none;
    float: left;
    margin-right: 30px;
    width: 150px;
}
.footer-nav .aspNetDisabled
{
    color: #cccccc;
    cursor: default;
}
.footer-nav li:first-child
{
}
.footer-nav li:first-child a
{
    font-weight: 700;
    font-size: 10pt;
}
.footer-nav li
{
    padding: 3px;
}
.footer-nav a
{
    text-decoration: none;
    color: #666666;
    text-shadow: 1px 1px 0px #ffffff;
    font-size: 10pt;
}
/* /Footer */

/* Main Menu */

/* Main Menu Level 1 */
ul.nav
{
    position: relative;
    width: 758px;
    float: right;
    margin-left: 30px;
    border: 1px solid #c3c1bf;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#eaeaea 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#eaeaea 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#eaeaea 100%); /* W3C */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.nav li
{
    float: left;
    z-index: 999;
    list-style: none;
    text-align: center;
}
.nav li a
{
    display: block;
    color: #666666;
    padding: 20px 0;
    text-decoration: none;
    font-weight: 500;
    width: 120px;
    text-shadow: 1px 1px 0px #ffffff;
    border-right: 1px solid #a1a1a1;
}
.nav li a.aspNetDisabled
{
    color: #cccccc;
    cursor: default;
}
.nav li.hover, .nav li:hover
{
    background: #e1e1e1;
    color: black;
    position: relative;
}
.nav li.disabled:hover
{
    background: none;
}
.nav > li:last-child:hover
{
    background: none;
}
.nav li.hover a
{
    color: black;
}
.nav input[type=text]
{
    margin: 16px 20px 13px;
    height: 26px;
    width: 218px;
    padding: 0 6px;
    border: 1px solid #c1c1c1;
}
/* /Main Menu Level 1 */

/* Main Menu Level 2 */
.nav ul
{
    width: 220px;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: -1px;
    background: #f1f1f1;
    border: 1px solid #a1a1a1;
}
.nav ul li
{
    font-weight: normal;
    color: #000;
    border-bottom: 1px solid #ccc;
    float: none;
}
.nav ul li a
{
    width: auto;
    margin: 0;
    height: auto;
    line-height: 0;
    padding: 20px;
    text-align: left;
    font-size: 10pt;
    border-right: 0;
}
/* /Main Menu Level 2 */

/* Main Menu Level 3 */
.nav ul ul
{
    left: 220px;
    top: -1px;
}
.nav li:hover > ul
{
    visibility: visible;
}
/* /Main Menu Level 3 */

/* Main Menu Search */
.nav .search
{
    width: 278px;
    height: 43px;
    padding-top: 15px;
    text-align: center;
}
.nav .search input[type=text]
{
    padding: 4px;
    width: 220px;
    height: 16px;
}

.nav .search
{
    width: 278px;
    height: 43px;
    padding-top: 15px;
    text-align: center;
}
.nav .search input[type=text]
{
    padding: 4px;
    width: 220px;
    height: 16px;
}

.nav .search-container
{
    position: relative;
    background: #fff;
    width: 230px;
    height: 25px;
    overflow: visible;
    margin: 15px 0 0 20px;
    padding-top: 2px;
    border: 1px solid #c1c1c1;
    text-align: left;
}

.search-box
{
    display: none;
    border: 1px solid #C3C1BF;
    padding-bottom: 20px;
    position: absolute;
    right: -23px;
    top: -1px;
    width: 274px;
    z-index: -1;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#eaeaea 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#eaeaea 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#eaeaea 100%); /* W3C */
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search-box label
{
    text-align: left;
    width: auto;
    margin-bottom: 5px;
    margin-right: auto;
    padding: 0;
}

#imgClearSearch
{
    position: absolute;
    right: 6px;
    top: 8px;
    cursor: pointer;
}
/* /Main Menu Search */

/* /Main Menu */

/* /Layout */


/* Text */
.title a
{
    font-weight: bold;
}
.double-title
{
    border-bottom: 1px dotted #a1a1a1;
    margin-bottom: 15px;
}

.align-right
{
    text-align: right;
}

.align-center
{  
   text-align: center;
}

.align-left
{
   text-align: left;
}

/* /Text */

/* Buttons */
.fancy-button
{
    border: 2px solid #E1E1E1;
    background: url("/Styles/images/ui-bg_highlight-hard_75_e6e6e6_1x100.png") repeat-x scroll 50% 50% #E6E6E6;
    padding: 0.4em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #555555;
    font-weight: normal;
    font-size: .8em;
    position: relative;
    cursor: pointer;
}
.fancy-button:hover
{
    background: url("/Styles/images/ui-bg_highlight-hard_75_dadada_1x100.png") repeat-x scroll 50% 50% #E6E6E6;
}

.workflow-button
{
    text-indent: -9999px;
    width: 20px;
    display: block;
    margin: 0 auto;
}
.cog-icon
{
    width: 10px;
    height: 10px;
    background: url(/Styles/images/ui-icons_222222_256x240.png) no-repeat -195px -116px;
    position: absolute;
    top: 5px;
    right: 25px;
}
.arrow-down
{
    padding-right: 2em;
}
.arrow-down-icon
{
    width: 10px;
    height: 10px;
    background: url(/Styles/images/ui-icons_222222_256x240.png) no-repeat -67px -19px;
    position: absolute;
    top: .6em;
    right: 0.8em;
}
.ui-button
{
    /*padding: 0.4em 1em;*/ /*margin-top: 20px;*/
}
.buttonClose
{
    margin-top: 20px;
}
.buttonSubmit
{
    float: right;
    margin-top: 20px; /*margin-right: 100px;*/
}
.create-container .buttonSubmit, .modal-container .buttonSubmit
{
    margin-top: 10px;
}

/* Toggle Button */
.toggle-me
{
    position: relative;
}
.toggle-button
{
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0;
    display: block;
    width: 36px;
    height: 28px;
    text-indent: -9999px;
    background: url(/Styles/images/arrow-up.png) no-repeat center right;
}
.toggle-button-colapsed
{
    background: url(/Styles/images/arrow-down.png) no-repeat center right;
}
/* /Toggle Button */

/* /Buttons */

/* Structure */
.col-1, .col-1-2, .col-1-3, .col-1-4, .col-2-3, .col-2-7, .col-3-4, .col-1-5, .col-2-5, .col-3-5, .col-4-5, .col-5-7
{
    float: left;
    position: relative;
}
.col-1
{
    width: 100%;
}
.col-1-2
{
    width: 50%;
}
.col-1-3
{
    width: 33.33%;
}
.col-1-4
{
    width: 25%;
}
.col-2-3
{
    width: 66%;
}
.col-3-4
{
    width: 75%;
}
.col-1-5
{
    width: 20%;
}
.col-2-5
{
    width: 40%;
}
.col-3-5
{
    width: 60%;
}
.col-4-5
{
    width: 80%;
}
.col-2-7
{
    width: 28%;
}
.col-5-7
{
    width: 72%;
}
.col-7-9
{
}
/* /Structure */


/* System Messages */
.info, .success, .warning, .error
{
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 15px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    overflow: auto;
    border-radius: 4px;
}

.inline-error
{
   font-weight: bold;
   color: #FF0000;
}

.info p, .success p, .warning p, .error p
{
    float: left;
}

.info a, .success a, .warning a, .error a
{
    padding: 3px 8px;
    color: #ffffff;
    text-decoration: none;
    font-size: 8pt;
    float: right;
    border-radius: 4px;
}

.info
{
    color: #002b54;
    background-color: #87b2d8;
    background-image: url('/Styles/images/info.png');
}
.success
{
    color: #387c2c;
    background-color: #b3d88c;
    background-image: url('/Styles/images/valid-green.png');
}
.warning
{
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('/Styles/images/warning-yellow.png');
}
.error
{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/Styles/images/cancel-red.png');
}
.info a
{
    background: #00529B;
}
.success a
{
    background: #4F8A10;
}
.warning a
{
    background: #9F6000;
}
.error a
{
    background: #D8000C;
}
/* /System Messages */

/* Modal */
.modal-page-wrapper
{
    position: relative;
}
.modal-wrapper
{
    position: relative;
}
.modal-page-wrapper h1
{
}
.ui-dialog
{
    border: 6px solid #e1e1e1;
    box-shadow: 0 0 50px rgba(0,0,0,.5);
    background: #FFF;
}
#modalExternal
{
    position: relative;
}

#modal-loading,#modal-loading-summary ,#modal-loading-CustomerContacts, #modal-loading-SavedFilterManage, #modal-loading-History, #modal-loading-create-folder, #modal-loading-dms, #modal-no-data-dms
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -130px;
    width: 260px;
    padding: 12px 10px 10px 10px;
    font-size: 12px;
    font-weight: bold;
    background: #ec008c;
    color: #fff;
    text-align: center;
    display: none;
}

/* /Modal */

/* Comments */
.application-comments
{
    float: left;
    position: relative;
}
.application-comments input
{
    float: right;
}
.add-new, .post, .cancel
{
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    font-size: 10pt;
    line-height: 28px;
}
.post, .cancel
{
    display: none;
}
.cancel
{
    margin-right: 50px;
}
.add-new:hover, .cancel:hover, .post:hover
{
    text-decoration: underline;
}

.comment, .new-comment
{
    position: relative;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    overflow: auto;
    height: auto !important;
    height: 93px;
    min-height:93px;
}

.comment .balloon, .new-comment .balloon
{
    background: #f8f8f8;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #d1d1d1;
    font-size: 10pt;
    position: relative;
}
.comment .balloon .balloon-bottom, .new-comment .balloon .balloon-bottom
{
    background: #f8f8f8;
    border-right: 4px solid #d1d1d1;
    border-bottom: 4px solid #d1d1d1;
    -webkit-transform: rotate(45deg) scale(.50);
    -moz-transform: rotate(45deg) scale(.50);
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -18px;
    left: 35px;
}
.new-comment .balloon, .new-comment .balloon .balloon-bottom
{
    background: #f8f8f8;
}
.new-comment textarea
{
    border: 0;
    background: #ffffff;
    width: 100%;
    height: 80px;
    padding: 5px;
}

.author-info img, .author-info p
{
    float: left;
}
.author-info p
{
    font-size: 12px;
    margin: 5px 0 0 10px;
}

.btn-comment-delete
{
    position: absolute;
    top: 7px;
    right: 6px;
}

.btn-comment-delete-inner-sa
{
    position: absolute;
    top: 7px;
    right: 6px;
    cursor: pointer;
}

.btn-comment-delete-inner-lease
{
    position: absolute;
    top: 7px;
    right: 6px;
    cursor: pointer;
}

.comment-text-unselected
{
    color: #999;
}
/* /Comments */

/* /Class */

/* Css Admin nav */

ul.admin-nav
{
    float: none;
    width: 230px;
    background: none;
    margin: 0 auto;
    border: none;
    list-style: none;
}

ul.admin-nav li
{
    float: none;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#eaeaea 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#eaeaea 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#eaeaea 100%); /* W3C */
    border: 1px solid #c3c1bf;
    border-bottom: 0px;
}
ul.admin-nav li:first-child
{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
}
ul.admin-nav li:last-child
{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom:1px solid #c3c1bf ;
}
.admin-nav > li:hover, .admin-nav > li.hover
{
    background: #e1e1e1;
    color: black;
    position: relative;
    /* IE hover background change */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#e1e1e1',GradientType=0 ); 
}
ul.admin-nav li a
{
    width: auto;
    display: block;
    color: #666666;
    padding: 20px 0;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 1px 1px 0px #ffffff;
    
}
.admin-nav li:last-child a
{
    border-bottom: 0px;
}

/* Admin GridView Elements */
.GridViewAlternateRow
{
   background-color: #E0E0E0;
}

.GridViewSelectedRow
{
   background-color: #F04275;
   color: #FFFFFF;
}

.GridViewSelectedRow a
{
   color: #FFFFFF;
}

.GridViewEditRow
{
   background-color: #F04275 !important;
   color: #FFFFFF;
}

.GridViewEditRow a
{
   color: #FFFFFF;
}

/*Currency Textbox*/
.DollarSign
{
    position:relative; left: 20px;
}

.DollarTextbox
{
    padding-left: 24px;
}

/* TopNav Elements */
#ddlImpersonateRole
{
   -webkit-appearance: menulist;
   -webkit-box-align: center;
   -webkit-rtl-ordering: logical;
   background-attachment: scroll;
   background-clip: border-box;
   background-color: white;
   background-image: none;
   background-origin: padding-box;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-left-style: solid;
   border-left-width: 1px;
   border-right-style: solid;
   border-right-width: 1px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border-top-style: solid;
   border-top-width: 1px;
   box-sizing: border-box;
   color: black;
   cursor: default;
   display: inline-block;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   height: 20px;
   letter-spacing: normal;
   line-height: normal;
   margin-bottom: 0px;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-right: 0px;
   padding-top: 0px;
   text-align: -webkit-auto;
   text-indent: 0px;
   text-shadow: none;
   text-transform: none;
   white-space: pre;
   width: 207px;
   word-spacing: 0px;
}

.risklevel-red
{
   color: red; 
   font-weight: bold; 
   text-shadow: 0 0 10px rgba(255, 20, 28, 1.0);
}

.risklevel-yellow
{
   color: #B1AC2B;
   font-weight: bold;
   text-shadow: 0 0 10px rgba(251, 255, 26, 1.0);
}

.risklevel-green
{
   color: green; 
   font-weight: bold; 
   text-shadow: 0 0 10px rgba(34, 233, 85, 1.0);
}

.risklevel-notes
{
   position: relative; 
   left:118px; 
   top:-30px;
}

.buttonLASubmit
{
   float: right;
   position: relative;
   right: 30px;
}

a.tooltip:hover 
{
    background: #FFFFFF;
    text-decoration:none;
} /*BG color is a must for IE6*/

a.tooltip span 
{
    display: none;
    padding: 3px 7px;
    margin-left: 8px;
    margin-top: -3px;
    width: 400px;
}

a.tooltip:hover span
{
    display: inline;
    position: absolute;
    background: #000000;
    border: 1px solid #CCCCCC;    
    color: #FFFFFF;
}

.document-link
{
    padding-bottom:5px;    
}

.site-link-no-underline
{
    text-decoration: none
}

.h1-span-site-link
{
    font-size: 13pt;
    font-weight: bold;
    color: #000;
}

.site-link-no-underline:hover
{
    text-decoration: underline;
}

.action-tab
{
    position: relative;
    background:#f8f8f8;
    height:34px;
    margin-bottom: 15px;
}

.left-side
{
    text-align:left;
    float:left;
    padding-top: 6px;
}
.right-side
{
    text-align: right;
    float:right;
    padding-top: 6px;
}

.left-side a, .right-side a
{
    margin:20px;
    font-weight: bold;
    font-size: 10pt;
}

.div-sa-decision
{
    margin-top: 6px;
}

.sa-decision-table
{
    border-collapse: collapse;
    margin-top: 125px;
}

.sa-decision-label
{
    margin-bottom: 0px !important;
    text-align: center !important;
}

.no-document-li
{
    display: block;
    top: auto;
    text-align: center;
    position: relative;
    padding: 0px !important;
    margin: 5px 0px 0px 0px!important;
    background: #ec008c;
}

.no-document-span
{
   text-align: center;
    color: white;
    width: auto;
    margin: 10px 0px 10px 0px;
    font-weight: bold;
    font-size: 12px;
    padding: 0px 20px 0px 15px;
}

.loading-hide
{
    display: none;
}

.div-load-more-comment
{
    float: right;
    left:50%;
    overflow: auto;
    height: auto !important;
}