﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="StatusBox.ascx.cs" Inherits="TrackIT2.Controls.StatusBox" %>

<div id="statusBox" title="Status" style="display:none;">
	<asp:Label ID="lblStatus" runat="server" Text="[Status]"></asp:Label>
</div>